body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
    background:url("cube2.gif");
  }

  .form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 1.1em;
    color: #D83D5A;
  }
  .form_error input {
    border: 1px solid #D83D5A;
  }
.header
{
	width:100%;
	height:90px;
	background:#00a2d1;
	font-family:"Lucida Handwriting";
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	font-size:35px;
	font-weight:bolder;
	color:#f9f9f9;
}
